.video-card-img {
  background-color: #D8D8D8;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  margin-bottom: 0.3rem;
  border-radius: 10px;
  cursor: pointer;
  background-size: cover;
}

.video-card-icon {
  width: 30px;
  height: 30px;
  background-color: #D8D8D8;
  border-radius: 6px;
}

.yt-video-card-icon {
  width: 22px;
  height: 22px;
  background-color: #D8D8D8;
  border-radius: 6px;
}
